.main{
    margin-top: 200px;
}
.ui.container {
    width: 90%;
    margin-bottom: 5%;
}
.ui.inverted.table {
    background: rgb(116, 106, 106);
    color: rgba(255,255,255,.9);
    border: none;
}

.ui.green.button, .ui.green.buttons .button {
    background: rgb(106, 97, 97);
    color: #fff;
    text-shadow: none;
    background-image: none;
    
}
.ui.grid{
   color: #fff; 
    background-color: rgba(62, 71, 80, 0.62)
}