.ui.fixed.menu.top {
  background-color: #da2134fe;
}

.customHeader {
  height: 60px;
}

#left-pusher.pusher {
  height: 100%;
}

.customHeader .pushable {
  position: fixed;
  z-index: 101;
  margin: 0;
  width: 100%;
  height: auto;
  overflow-x: visible;
}

#left-pusher .menu {
  top: 60px;
  width: 120px;
  height: auto !important;
  max-height: inherit;
  background-color: rgb(218 34 53);
}
