/* .product-icon{
    width: 40px;
    height: auto;
    border-radius: 50%;
} */
/* .grid-table{
    height: 80px;
}
.grid-table>.row{
    height: 120px;
}
.ui.image.product.icon{
    width: auto;
    height: 90px;
} */
.ui.image.product-icon{
    width: auto;
    height: 70px;
    border-radius: 20%;
     
    }

.grid-table {
    position: relative;
}

.grid-table>.row{
    height: 120px;
}
#name-prudct{
    font-size: 18px;
    font-weight: 500;
    
}

#price-id{
    font-size: 16px;
    font-weight: 500;
}

#status-id{
    font-weight: 500;
}

#address-id{
    font-size: 12px;
    font-weight: 300;
}
#address{
 font-size: 17px;
 font-weight: 500;
}

.phone-pending{
    font-size: 10px;
}

.pending-item{
    border-bottom: 1px solid #999999;
}

.item{
    justify-content: space-between;
}

.ui.button.btn-upload{
    background: none;
    
}
.green.upload.icon.btn-icon{
    font-size: 14px;
}

input[type=file] {
    display: none;
    
}

.img-icon{
    cursor: pointer;
}

.ui.grid.grid-table{
    margin-bottom: 20px;
}

.currency{
    font-size: 10px;
    /* opacity: 0.5; */
}

.nine.wide.column.image-upload-form{
    width: 100%;
    display: flex;
    align-items: center;
}
.ui.green.button {
    margin-left: auto;
    margin-top: 10%;
   background-color: rgb(218 34 53)
}
.ui.bottom.attached.segment.active.tab{
    border-block-color: red;
    border-block-end-color: red;
    border-block-start-color: red;
    border-inline-end-color: red;
    border-inline-start-color: red;
    border-bottom-color: red
}
