
#slide {
	position: relative;
	height: 60vh;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}

img {
	/* position: absolute; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	background-size: cover;
}